.page_name {
  padding: 20px 0;
  color: #fff;
  background: #455A64;
  .breadcrumbs {
    position: relative;
    z-index: 9;
    ul {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      li {
        font-size: 15px;
        margin: 0 0 0 8px;
        [dir="ltr"] & {
          margin: 0 8px 0 0;
        } /* ltr */
        a {
          color: #ffffff;
          &:hover {
            color: $mainColor;
          } /* hover */
        } /* a */
      } /* li */
    } /* ul */
  } /* breadcrumbs */
  .title {
    font-size: 35px;
    position: relative;
    z-index: 9;
    margin: 50px auto;
  } /* title */
} /* page_name */

@import 'contact';
@import 'simple';