aside {
  overflow-y: auto;
  right: 0;
  width: 135px;
  z-index: 9;
  box-shadow: 0 0 15px 0 rgba(34,41,47,0.05);
  padding: 10px;
  // transition: all 0.4s ease-in-out;
  max-height: calc(100vh - 60px);
  min-height: calc(100vh - 60px);
  [dir="ltr"] & {
    right: auto;
    left: 0;
  } /* ltr */
  @include media-breakpoint-down(md) {
    transform: translateX(135px);
    [dir="ltr"] & {
      transform: translateX(-135px);
    } /* ltr */
  } /* md */
  body.sidebar_hide & {
    transform: translateX(135px);
    visibility: hidden;
    [dir="ltr"] & {
      transform: translateX(-135px);
    } /* ltr */
  } /* sidebar_hide */
  body.sidebarOpen & {
    transform: translateX(0);
    visibility: visible;
  } /* sidebar_hide */
  a {
    border: 1px solid transparent;
    padding: 5px;
    font-size: 13px;
    min-height: 75px;
    color: #3a3a3a;
    transition: all 0.2s ease-in-out;
    i {
      width: 30px;
      height: 30px;
      font-size: 25px;
      margin-bottom: 5px;
    } /* i */
    .icon {
      width: 30px;
      height: 30px;
      margin-bottom: 5px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      &.statementIcon {
        background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' enable-background='new 0 0 32 32' viewBox='0 0 32 32'%3E%3Cpath fill='%23263238' d='M23.182,21.598c-0.128,0-0.256-0.049-0.354-0.146l-2.33-2.33c-0.682-0.682-1.018-1.452-0.997-2.289c0.038-1.562,1.333-2.754,1.388-2.804c0.194-0.178,0.495-0.173,0.684,0.011l5.775,5.602c0.198,0.192,0.203,0.509,0.011,0.707s-0.509,0.203-0.707,0.011l-5.407-5.244c-0.307,0.378-0.729,1.026-0.745,1.747c-0.012,0.559,0.218,1.066,0.705,1.553l2.33,2.33c0.195,0.195,0.195,0.512,0,0.707C23.438,21.549,23.31,21.598,23.182,21.598z'/%3E%3Cpath fill='%23263238' d='M23.604 25.711c-.137 0-.273-.056-.372-.166-.664-.737-1.03-1.688-1.03-2.679 0-.71.189-1.409.548-2.021.14-.239.447-.319.684-.179.238.14.318.446.179.684-.269.459-.411.983-.411 1.516 0 .743.274 1.457.773 2.01.185.205.168.521-.037.706C23.844 25.668 23.724 25.711 23.604 25.711zM21 25h-8.5c-1.378 0-2.5-1.122-2.5-2.5v-2c0-.276.224-.5.5-.5s.5.224.5.5v2c0 .827.673 1.5 1.5 1.5H21c.276 0 .5.224.5.5S21.276 25 21 25z'/%3E%3Cpath fill='%23263238' d='M10.5 21c-.276 0-.5-.224-.5-.5v-17C10 2.122 11.122 1 12.5 1h9C22.878 1 24 2.122 24 3.5v11c0 .276-.224.5-.5.5S23 14.776 23 14.5v-11C23 2.673 22.327 2 21.5 2h-9C11.673 2 11 2.673 11 3.5v17C11 20.776 10.776 21 10.5 21zM21.5 31c-.276 0-.5-.224-.5-.5v-3.185c-.459-.238-.883-.549-1.265-.928-.196-.194-.197-.511-.003-.707.195-.196.512-.197.707-.003.375.373.8.663 1.261.864.182.08.3.26.3.458v3.5C22 30.776 21.776 31 21.5 31z'/%3E%3Cpath fill='%23263238' d='M30.5 31c-.276 0-.5-.224-.5-.5V19.438c0-.424-.26-1.062-.557-1.363l-6.193-6.222c-.195-.195-.194-.512.002-.707.195-.195.512-.194.707.002l6.195 6.224C30.637 17.863 31 18.75 31 19.438V30.5C31 30.776 30.776 31 30.5 31zM17.5 23h-1c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h1c.276 0 .5.224.5.5S17.776 23 17.5 23zM18.5 4h-3C15.224 4 15 3.776 15 3.5S15.224 3 15.5 3h3C18.776 3 19 3.224 19 3.5S18.776 4 18.5 4zM17 14.5c-2.481 0-4.5-2.019-4.5-4.5s2.019-4.5 4.5-4.5c.685 0 1.343.15 1.957.446.249.12.353.419.233.667-.119.249-.416.354-.667.233C18.045 6.617 17.533 6.5 17 6.5c-1.93 0-3.5 1.57-3.5 3.5s1.57 3.5 3.5 3.5c1.855 0 3.39-1.449 3.495-3.3.016-.276.252-.482.527-.471.276.016.486.251.471.527C21.358 12.636 19.385 14.5 17 14.5z'/%3E%3Cpath fill='%23263238' d='M17 11.7c-.128 0-.256-.049-.354-.146l-1.5-1.5c-.195-.195-.195-.512 0-.707s.512-.195.707 0L17 10.493l3.146-3.146c.195-.195.512-.195.707 0s.195.512 0 .707l-3.5 3.5C17.256 11.651 17.128 11.7 17 11.7zM1.5 12C1.224 12 1 11.776 1 11.5v-2C1 8.673 1.673 8 2.5 8h6C8.776 8 9 8.224 9 8.5S8.776 9 8.5 9h-6C2.224 9 2 9.224 2 9.5v2C2 11.776 1.776 12 1.5 12zM8.5 21h-6C1.673 21 1 20.327 1 19.5v-6C1 13.224 1.224 13 1.5 13S2 13.224 2 13.5v6C2 19.776 2.224 20 2.5 20h6C8.776 20 9 20.224 9 20.5S8.776 21 8.5 21z'/%3E%3Cpath fill='%23263238' d='M8.5 14h-7C1.224 14 1 13.776 1 13.5v-2C1 11.224 1.224 11 1.5 11h7C8.776 11 9 11.224 9 11.5S8.776 12 8.5 12H2v1h6.5C8.776 13 9 13.224 9 13.5S8.776 14 8.5 14zM24.49 31h-11c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h11c.276 0 .5.224.5.5S24.767 31 24.49 31zM11.49 31H11.39c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h.101c.276 0 .5.224.5.5S11.767 31 11.49 31z'/%3E%3C/svg%3E");
      } /* statementIcon */
      &.paymentRecordIcon {
        background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 65 65'%3E%3Cpath d='M8.7 56.1h27.6v1.5H8.7zM16.1 51.2h1.5v1.5h-1.5zM19.7 51.2h1.5v1.5h-1.5zM23.4 51.2h1.5v1.5h-1.5zM12.4 51.2h1.5v1.5h-1.5zM8.7 51.2h1.5v1.5H8.7zM52.1 45.9c.4.3.6.7.6 1.2h1.5c0-.9-.4-1.7-1.1-2.3-.5-.4-1.1-.7-1.7-.8v-1.9h-1.5V44c-.6.1-1.2.4-1.7.8-.7.6-1.1 1.4-1.1 2.3s.4 1.7 1.1 2.3c.7.6 1.5.9 2.5.9.6 0 1.1.2 1.5.5.4.3.6.7.6 1.2 0 .4-.2.8-.6 1.2-.8.7-2.2.7-3 0-.4-.3-.6-.7-.6-1.2H47c0 .9.4 1.7 1.1 2.3.5.4 1.1.7 1.7.8V57h1.5v-1.9c.6-.1 1.2-.4 1.7-.8.7-.6 1.1-1.4 1.1-2.3s-.4-1.7-1.1-2.3c-.7-.6-1.5-.9-2.5-.9-.6 0-1.1-.2-1.5-.5-.4-.3-.6-.7-.6-1.2 0-.4.2-.8.6-1.2.9-.6 2.3-.6 3.1 0z'/%3E%3Cpath d='M62.2 49.5c0-5.5-3.8-10-8.9-11.3V9.8h8.4v-.7s.1-1.7.1-2.3C61.8 3 59.1.1 55.5.1H10.1 10c-4 0-7.3 3.3-7.3 7.3V65h50.5v-4.2c5.2-1.2 9-5.8 9-11.3zM60.3 6.7v1.6h-43c0-.3.1-.7.1-1 0-2.4-1.1-4.5-2.9-5.8h41c2.8 0 4.8 2.2 4.8 5.2zm-8.5 56.8H4.3V7.3c0-3.2 2.6-5.8 5.8-5.8 3.2 0 5.8 2.6 5.8 5.8 0 .4-.1 1.1-.2 1.5l-.2.8.8.1h35.5V38c-.4 0-.8-.1-1.2-.1-.9 0-1.7.1-2.5.3V15H8.6v28.8h31.9c-1 1.7-1.5 3.6-1.5 5.7 0 6.4 5.2 11.6 11.6 11.6.4 0 .8 0 1.2-.1v2.5zM41.5 42.4H39V37h7.6v1.7c-2 .7-3.8 2-5.1 3.7zM10.1 37h18.3v5.3H10.1V37zm0-6.8h18.3v5.3H10.1v-5.3zm0-6.9h18.3v5.3H10.1v-5.3zm36.5-1.5H39v-5.3h7.6v5.3zm0 6.9H39v-5.3h7.6v5.3zm0 6.8H39v-5.3h7.6v5.3zm-16.7-5.3h7.6v5.3h-7.6v-5.3zm0-6.9h7.6v5.3h-7.6v-5.3zm7.6-1.5h-7.6v-5.3h7.6v5.3zm-9.1 0H10.1v-5.3h18.3v5.3zM29.9 37h7.6v5.3h-7.6V37zm20.7 22.6c-5.6 0-10.1-4.5-10.1-10.1S45 39.4 50.6 39.4 60.7 44 60.7 49.5s-4.5 10.1-10.1 10.1z'/%3E%3C/svg%3E");
      } /* paymentRecordIcon */
    } /* icon */
    &.active {
      background-color: var(--hoverBg);
      color: var(--mainColor);
      border-color: var(--mainColor);
    } /* active */
    &:hover {
      color: var(--mainColor);
    } /* hover */
  } /* a */
} /* aside */