

header {
  height: 60px;
  z-index: 999;
  box-shadow: 0 1px 15px rgba(0,0,0,0.04), 0 1px 6px rgba(0,0,0,0.04);
  .headerRight {
    flex-basis: 40%;
    .sidebarButton {
      width: 40px;
      height: 40px;
      font-size: 22px;
      color: #3a3a3a;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      span {
        height: 2px;
        width: 25px;
        background-color: #3a3a3a;
        display: block;
        border-radius: 100px;
        transition: all 0.4s ease-in-out;
        &:nth-child(2n) {
          margin: 5px 0;
          body.sidebar_hide & {
            transform: translateX(3px);
            width: 18px;
            [dir="ltr"] & {
              transform: translateX(-3px);
            } /* ltr */
          } /* sidebar_hide */
        } /* nth(2n) */
      } /* span */
      &:hover {
        color: var(--mainColor);
      } /* hover */
    } /* sidebarButton */
    .sidebarBtnMobile {
      width: 40px;
      height: 40px;
      font-size: 22px;
      color: #3a3a3a;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        position: fixed;
        top: 60px;
        right: 0;
        z-index: 9;
        display: none;
        body.sidebarOpen & {
          display: block;
        } /* sidebar_hide */
      } /* before */
      span {
        height: 2px;
        width: 25px;
        background-color: #3a3a3a;
        display: block;
        border-radius: 100px;
        transition: all 0.4s ease-in-out;
        &:nth-child(2n) {
          margin: 5px 0;
        } /* nth(2n) */
      } /* span */
      &:hover {
        color: var(--mainColor);
      } /* hover */
    } /* sidebarBtnMobile */
  } /* headerRight */
  .logo {
    img {
      max-height: 35px;
    } /* img */
  } /* logo */
  .userList {
    flex-basis: 40%;
    button {
      &::before {
        content: "\f107";
        font-family: "Font Awesome 5 Pro";
        margin: 0 0 0 10px;
        [dir="ltr"] & {
          margin: 0 10px 0 0;
        } /* ltr */
      } /* before */
      img {
        margin: 0 10px 0 0;
        [dir="ltr"] & {
          margin: 0 0 0 10px;
        } /* ltr */
        width: 35px;
        height: 35px;
        @include media-breakpoint-down(sm) {
          margin: 0;
          [dir="ltr"] & {
            margin: 0;
          } /* ltr */
        } /* sm */
      } /* img */
    } /* button */
    a {
      color: #3a3a3a;
      font-size: 14px;
      padding: 10px;
      line-height: 1;
      transition: all 0.2s ease-in-out;
      i {
        margin: 0 0 0 .5rem;
        width: 16px;
        height: 16px;
        [dir="ltr"] & {
          margin: 0 .5rem 0 0;
        } /* ltr */
      } /* i */
      &:hover {
        color: var(--mainColor);
        background-color: var(--hoverBg);
      } /* hover */
    } /* a */
  } /* userList */
} /* header */