/node_modules
/public/hot
/public/storage
/public/images
/public/css/all.css
/public/css/app.css
/public/css/auth.css
/public/css/bill_details.css
/public/css/dore.dark.green.min.css
/public/css/dore.light.green.min.css
/public/css/store.css
/public/js/all.js
/public/js/app.js
/public/js/auth.js
/public/js/bill_details.js
/public/js/jbootstrap.js
/public/js/store.js
/public/mix-manifest.json
/public/js/app.js.map
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log