// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {
  background: #fff;
  font-family: 'Nunito';
}
/* single_bill_page */
.single_bill_page {
  margin: 50px auto;
  .logo {
    margin: 0 auto 40px;
    img {
      max-width: 100%;
      margin: 0 auto;
      display: block;
      max-height: 100px;
    } /* img */
  } /* logo */
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 0 0 15px;
    margin: 0 auto 15px;
    color: #000;
    span {
      display: block;
      font-weight: bold;
      font-size: 20px;
      text-transform: capitalize;
    } /* span */
    p {
      display: block;
      margin: 0 auto 7px;
      font-size: 14px;
      line-height: 1.1;
      color: #444;
    } /* p */
    b {
      display: block;
      margin: 0 auto;
      font-size: 14px;
      line-height: 1.1;
      color: #444;
      font-weight: normal;
    } /* b */
  } /* title */
  .date_time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 0 0 15px;
    margin: 0 auto 15px;
    color: #000;
    span {
      display: block;
      font-weight: bold;
      font-size: 15px;
      text-transform: capitalize;
    } /* span */
    p {
      display: block;
      margin: 0 auto 7px;
      font-size: 14px;
      line-height: 1.1;
      color: #444;
    } /* p */
    b {
      display: block;
      margin: 0 auto;
      font-size: 14px;
      line-height: 1.1;
      color: #444;
      font-weight: normal;
    } /* b */
  } /* date_time */
  .shopping_cart {
    .name {
      font-size: 20px;
      color: #000;
      margin: 0 auto 20px;
      font-weight: bold;
    } /* name */
    .details_pay {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      border-bottom: 1px solid #ddd;
      padding: 0 0 15px;
      margin: 0 auto 15px;
      color: #000;
      span {
        display: block;
        font-size: 14px;
        text-transform: capitalize;
      } /* span */
      .info {
        p {
          display: block;
          margin: 0 auto 7px;
          font-size: 14px;
          line-height: 1.1;
          color: #444;
        } /* p */
      } /* info */
    } /* details_pay */
  } /* shopping_cart */
  .total_bill {
    border-bottom: 1px solid #ddd;
    padding: 0 0 15px;
    margin: 0 auto 15px;
    color: #000;
    p {
      display: block;
      margin: 5px auto;
      font-size: 16px;
      text-align: right;
    } /* p */
    b {
      display: block;
      margin: 5px auto;
      font-size: 16px;
      text-align: right;
    } /* b */
  } /* total_bill */
  .customer_information {
    border-bottom: 1px solid #ddd;
    padding: 0 0 15px;
    margin: 0 auto 15px;
    color: #000;
    .name {
      font-size: 20px;
      color: #000;
      margin: 0 auto 20px;
      font-weight: bold;
    } /* name */
    p {
      display: block;
      text-align: center;
      font-size: 16px;
      margin: 7px auto;
    } /* p */
  } /* customer_information */
  .payment_method {
    border-bottom: 1px solid #ddd;
    padding: 0 0 15px;
    margin: 0 auto 15px;
    color: #000;
    .name {
      font-size: 20px;
      color: #000;
      margin: 0 auto 20px;
      font-weight: bold;
    } /* name */
    .bill_payment {
      .item {
        position: relative;
        input[type="radio"] {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
          &:checked ~ {
            label {
              border-color: #0397D8;
              background: #EFF6FC;
              .checkmark {
                box-shadow: 0 0 0 2px #0397D8;
                &::after {
                  background: #0397D8;
                } /* after */
              } /* checkmark */
            } /* label */
          } /* checked */
        } /* input */
        label {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid transparent;
          border-radius: 5px;
          padding: 10px 10px 10px 40px;
          cursor: pointer;
          margin: 0;
          position: relative;
          p {
            display: block;
            font-size: 15px;
            font-weight: bold;
            margin: 0;
            line-height: 25px;
          } /* p */
          .checkmark {
            position: absolute;
            left: 10px;
            top: 14px;
            box-shadow: 0 0 0 2px #D7D7D7;
            width: 20px;
            height: 20px;
            background: #fff;
            border-radius: 100%;
            &::after {
              content: "";
              width: 15px;
              height: 15px;
              position: absolute;
              top: 3px;
              left: 3px;
              background: transparent;
              border-radius: 100%
            } /* after */
          } /* checkmark */
          .icon_mada {
            background-image: url("../images/pay1.png");
            background-size: 150px;
            background-repeat: no-repeat;
            background-position: center center;
            height: 22px;
            width: 150px;
          } /* icon_mada */
          .icon_apple {
            background-image: url("../images/pay2.png");
            background-size: 50px;
            background-repeat: no-repeat;
            background-position: center center;
            height: 28px;
            width: 45px;
          } /* icon_apple */
          .icon_stc {
            background-image: url("../images/pay3.png");
            background-size: 56px;
            background-repeat: no-repeat;
            background-position: center center;
            height: 31px;
            width: 60px;
          } /* icon_stc */
        } /* label */
        .visa_pay_content {
          background: #fafafa;
          border: 1px solid #eee;
          padding: 20px;
          margin: 10px auto;
          border-radius: 4px;
          .form_card {
            margin: 15px auto;
            width: 350px;
            @include media-breakpoint-down(xs) {
              width: 100%;
            } /* (xs) */
            form {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              flex-wrap: wrap;
              margin: 15px -10px 0 -10px;
              p {
                margin: 0 0 10px;
                width: 50%;
                input[type=text] {
                  height: 40px;
                  border: 1px solid #ddd;
                  background: #fff;
                  color: #000;
                  font-size: 14px;
                  padding: 0 10px;
                  width: 100%;
                  font-family: "Nunito";
                  box-shadow: none;
                  outline: none;
                  font-weight: bold;
                } /* input */
              } /* p */
              span {
                width: 33.3333%;
                input[type=text] {
                  height: 40px;
                  border: 1px solid #ddd;
                  background: #fff;
                  color: #000;
                  font-size: 14px;
                  padding: 0 10px;
                  width: 100%;
                  font-family: "Nunito";
                  box-shadow: none;
                  outline: none;
                  font-weight: bold;
                } /* input */
                input[type="submit"] {
                  height: 40px;
                  background: #008CBA;
                  width: 100%;
                  border: 1px solid #007295;
                  color: #fff;
                  font-family: "Nunito";
                  font-weight: bold;
                  font-size: 15px;
                  text-transform: uppercase;
                  &:hover {
                    background: #007295;
                  } /* hover */
                } /* input[type="submit"] */
              } /* span */
            } /* form */
          } /* form_card */
        } /* visa_pay_content */
        &.disable {
          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.7);
            cursor: not-allowed;
            top: 0;
          } /* after */
        } /* disable */
      } /* item */
    } /* bill_payment */
  } /* payment_method */
} /* single_bill_page */