// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Tajawal');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {
  background: #fff;
  font-family: 'Nunito', 'Tajawal';
  [dir="rtl"] & {
    direction: rtl;
    font-family: 'Tajawal', 'Nunito';
  } /* rtl */
}
/* single_bill_page */
.single_bill_page {
  padding: 50px 0;
  background: #fafafa;
  .single_bill_content {
    border: 1px solid #eee;
    border-radius: 0.75rem;
    padding: 15px;
    background: #fff;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  }
  .change-lang {
    a {
      display: inline-block;
      font-size: 14px;
      color: #000;
      text-decoration: none;
    } /* a */
  } /* change-lang */
  .alert {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
    margin: 0 auto 30px;
  } /* alert */
  .logo {
    margin: 0 auto 10px;
    img {
      max-width: 100%;
      margin: 0 auto;
      display: block;
      max-height: 100px;
    } /* img */
  } /* logo */
  .title {
    border-bottom: 1px solid #ddd;
    padding: 0 0 15px;
    margin: 0 auto 15px;
    color: #000;
    text-align: center;
    span {
      display: block;
      font-weight: bold;
      font-size: 18px;
      text-transform: capitalize;
      margin: 0 auto 5px;
    } /* span */
    p {
      display: block;
      margin: 0 auto 7px;
      font-size: 14px;
      line-height: 1.1;
      color: #444;
    } /* p */
    b {
      display: block;
      margin: 0 auto;
      font-size: 14px;
      color: #444;
      font-weight: normal;
    } /* b */
  } /* title */
  .date_time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 0 0 15px;
    margin: 0 auto 15px;
    color: #000;
    span {
      display: block;
      color: #444;
      font-size: 14px;
      text-transform: capitalize;
      .vat_reg {
        display: block;
        font-weight: normal;
        font-size: 14px;
        color: #444;
        margin: 5px auto 0;
        [dir="rtl"] & {
          text-align: right;
        } /* rtl */
      } /* vat_reg */
    } /* span */
    p {
      display: block;
      margin: 0 auto 7px;
      font-size: 14px;
      line-height: 1.1;
      color: #444;
      text-align: right;
      [dir="rtl"] & {
        text-align: left;
      } /* rtl */
    } /* p */
    b {
      display: block;
      margin: 0 auto;
      font-size: 14px;
      line-height: 1.1;
      color: #444;
      font-weight: normal;
      text-align: right;
      [dir="rtl"] & {
        text-align: left;
      } /* rtl */
    } /* b */
  } /* date_time */
  .shopping_cart {
    border-bottom: 1px solid #ddd;
    padding: 0 0 15px;
    margin: 0 auto 15px;
    .name {
      font-size: 14px;
      color: #000;
    } /* name */
    .details_pay {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin: 0 auto 10px;
      color: #000;
      &:last-child {
        padding: 0;
        margin: 0;
      } /* last-child */
      p {
        display: block;
        margin: 0;
        min-width: 60%;
        color: #000;
        font-size: 14px;
        [dir="rtl"] & {
          text-align: right;
        } /* rtl */
      } /* p */
      b {
        display: block;
        margin: 0;
        font-size: 14px;
        color: #222222;
        font-weight: normal;
        min-width: 20%;
        text-align: center;
        &:last-child {
          text-align: right;
          [dir="rtl"] & {
            text-align: left;
          } /* rtl */
        } /* last-child */
      } /* b */
    } /* details_pay */
  } /* shopping_cart */
  .customer_notes {
    margin: 0 0 15px;
    padding: 0 0 15px;
    text-align: center;
    font-size: 16px;
    text-transform: capitalize;
    color: #000000;
  } /* customer_notes */
  .total_bill {
    border-bottom: 1px solid #ddd;
    padding: 0 0 15px;
    margin: 0 auto 15px;
    color: #000;
    p {
      display: block;
      margin: 5px auto;
      font-size: 14px;
      text-align: right;
      [dir="rtl"] & {
        text-align: left;
      } /* rtl */
    } /* p */
    b {
      display: block;
      margin: 5px auto;
      font-size: 16px;
      text-align: right;
      [dir="rtl"] & {
        text-align: left;
      } /* rtl */
    } /* b */
  } /* total_bill */
  .customer_information {
    border-bottom: 1px solid #ddd;
    padding: 0 0 15px;
    margin: 0 auto 15px;
    color: #000;
    .name {
      font-size: 20px;
      color: #000;
      margin: 0 auto 20px;
      font-weight: bold;
    } /* name */
    p {
      display: block;
      text-align: center;
      font-size: 16px;
      margin: 7px auto;
    } /* p */
  } /* customer_information */
  .payment_method {
    color: #000;
    .name {
      font-size: 20px;
      color: #000;
      margin: 0 auto 20px;
      font-weight: bold;
      [dir="rtl"] & {
        text-align: right;
      } /* rtl */
    } /* name */
    .bill_payment {
      .item {
        position: relative;
        input[type="radio"] {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
          &:checked ~ {
            label {
              border-color: #0397D8;
              background: #EFF6FC;
              .checkmark {
                box-shadow: 0 0 0 2px #0397D8;
                &::after {
                  background: #0397D8;
                } /* after */
              } /* checkmark */
            } /* label */
          } /* checked */
        } /* input */
        label {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid transparent;
          border-radius: 5px;
          padding: 10px 10px 10px 40px;
          cursor: pointer;
          margin: 0;
          position: relative;
          [dir="rtl"] & {
            padding: 10px 40px 10px 10px;
          } /* rtl */
          p {
            display: block;
            font-size: 15px;
            font-weight: bold;
            margin: 0;
            line-height: 25px;
            @include media-breakpoint-down(sm) {
              font-size: 14px;
            } /* (sm) */
          } /* p */
          .checkmark {
            position: absolute;
            left: 10px;
            top: 14px;
            box-shadow: 0 0 0 2px #D7D7D7;
            width: 20px;
            height: 20px;
            background: #fff;
            border-radius: 100%;
            [dir="rtl"] & {
              right: 10px;
              left: auto;
            } /* rtl */
            &::after {
              content: "";
              width: 15px;
              height: 15px;
              position: absolute;
              top: 3px;
              left: 3px;
              background: transparent;
              border-radius: 100%;
              @include media-breakpoint-down(sm) {
                top: 2px;
              } /* (sm) */
            } /* after */
          } /* checkmark */
          .icon_mada {
            background-image: url("../images/pay1.png");
            background-size: 150px;
            background-repeat: no-repeat;
            background-position: center center;
            height: 22px;
            width: 150px;
            @include media-breakpoint-down(sm) {
              background-size: 100px;
              width: 100px;
            } /* (sm) */
          } /* icon_mada */
          .icon_apple {
            background-image: url("../images/pay2.png");
            background-size: 50px;
            background-repeat: no-repeat;
            background-position: center center;
            height: 28px;
            width: 45px;
          } /* icon_apple */
          .icon_stc {
            background-image: url("../images/pay3.png");
            background-size: 56px;
            background-repeat: no-repeat;
            background-position: center center;
            height: 31px;
            width: 60px;
          } /* icon_stc */
        } /* label */
        .visa_pay_content {
          background: #fafafa;
          border: 1px solid #eee;
          padding: 20px;
          margin: 10px auto;
          border-radius: 4px;
          @include media-breakpoint-down(sm) {
            padding: 10px;
          } /* (xs) */
          .form_card {
            margin: 15px auto;
            width: 350px;
            @include media-breakpoint-down(xs) {
              width: 100%;
            } /* (xs) */
            form {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              flex-wrap: wrap;
              margin: 15px -10px 0 -10px;
              @include media-breakpoint-down(xs) {
                margin: 15px auto 0;
              } /* (xs) */
              p {
                margin: 0 0 10px;
                width: 50%;
                input[type=text] {
                  height: 40px;
                  border: 1px solid #ddd;
                  background: #fff;
                  color: #000;
                  font-size: 14px;
                  padding: 0 10px;
                  width: 100%;
                  font-family: "Nunito";
                  box-shadow: none;
                  outline: none;
                  font-weight: bold;  
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  -o-appearance: none;
                  appearance: none;
                } /* input */
              } /* p */
              span {
                width: 33.3333%;
                input[type=text] {
                  height: 40px;
                  border: 1px solid #ddd;
                  background: #fff;
                  color: #000;
                  font-size: 14px;
                  padding: 0 10px;
                  width: 100%;
                  font-family: "Nunito";
                  box-shadow: none;
                  outline: none;
                  font-weight: bold;  
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  -o-appearance: none;
                  appearance: none;
                } /* input */
                input[type="submit"] {
                  height: 40px;
                  background: #008CBA;
                  width: 100%;
                  border: 1px solid #007295;
                  color: #fff;
                  font-family: "Nunito";
                  font-weight: bold;
                  font-size: 15px;
                  text-transform: uppercase;  
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  -o-appearance: none;
                  appearance: none;
                  &:hover {
                    background: #007295;
                  } /* hover */
                } /* input[type="submit"] */
              } /* span */
            } /* form */
          } /* form_card */
        } /* visa_pay_content */
        &.disable {
          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.7);
            cursor: not-allowed;
            top: 0;
          } /* after */
        } /* disable */
      } /* item */
      .jp-card {
        @include media-breakpoint-down(sm) {
          min-width: 100%;
        }
      } /* jp-card */
    } /* bill_payment */
  } /* payment_method */
} /* single_bill_page */
.cnpBillingCheckoutWrapper {position:relative;}
.cnpBillingCheckoutHeader {width:100%;border-bottom: 1px solid #c0c0c0;margin-bottom:10px;}
.cnpBillingCheckoutLeft {width:240px;margin-left: 5px;margin-bottom: 10px;border: 1px solid #c0c0c0;display:inline-block;vertical-align: top;padding:10px;}
.cnpBillingCheckoutRight {width:50%;margin-left: 5px;border: 1px solid #c0c0c0;display:inline-block;vertical-align: top;padding:10px;}
.cnpBillingCheckoutOrange {font-size:110%;color: rgb(255, 60, 22);font-weight:bold;}
div.wpwl-wrapper, div.wpwl-sup-wrapper { width: 100% }
div.wpwl-group-brand { width: 30%; float:left }
div.wpwl-group-cardHolder, div.wpwl-sup-wrapper-street1, div.wpwl-group-expiry { clear:both }
div.wpwl-sup-wrapper-street1 { padding-top: 1px }
div.wpwl-wrapper-brand { width: auto }
div.wpwl-sup-wrapper-state, div.wpwl-sup-wrapper-city { width:32%;float:left;margin-right:2% }
div.wpwl-sup-wrapper-postcode { width:32%;float:left }
div.wpwl-sup-wrapper-country { width: 66% }
div.wpwl-wrapper-brand, div.wpwl-label-brand, div.wpwl-brand { display: none;}
div.wpwl-group-cardNumber {width: 100%;}
div.wpwl-group-brand { width:35%; float:left; margin-top:28px }
div.wpwl-brand-card  { width: 65px }
div.wpwl-brand-custom  {display: none;}
div.wpwl-label.wpwl-label-cardNumber, div.wpwl-label-expiry, div.wpwl-label-cvv, div.wpwl-label-cardHolder,div.wpwl-group-brand {
  display: none !important;
}
div.wpwl-group-expiry {
  width: 49%;
  float: left;
}
div.wpwl-group-cvv {
  width: 49%;
  float: right;
}
form.wpwl-form {
  margin: 0 auto;
  max-width: 100%;
}
iframe.wpwl-control {
  height: 41px;
  width: 100%;
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-shadow: none;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
input.wpwl-control.wpwl-control-cardHolder, input.wpwl-control.wpwl-control-expiry {
  background: #fff;
  padding: 0 10px;
  border: 1px solid #ddd;
  box-shadow: none;
  height: 41px;
  border-radius: 4px;
  font-size: 14px;
  direction: ltr;
  text-transform: capitalize;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.wpwl-has-error~.wpwl-hint {
  color: red;
  font-size: 12px;
  margin: 5px auto 0;
  text-transform: capitalize;
}
button.wpwl-button.wpwl-button-pay {
  width: 100%;
  height: 41px;
  border-radius: 4px;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: none;
  box-shadow: none;
  padding: 0 10px;
  float: none;
}
a.logo_bills {
  background-image: url("/images/logo-black.svg");
  width: 70px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70px;
  margin: 15px auto 0;
  display: block;
} /* logo_bills */