#accountIndexPage {
  .title {
    h1 {
      color: #3a3a3a;
    } /* h1 */
  } /* title */
  .mainAlert {
    i {
      margin: 0 0 0 5px;
      font-size: 20px;
    } /* i */
  } /* mainAlert */
  .catItem {
    min-height: 170px;
    color: #3a3a3a;
    @include media-breakpoint-down(md) {
      min-height: 120px;
    } /* md */
    i {
      font-size: 50px;
      color: var(--mainColor);
      @include media-breakpoint-down(md) {
        font-size: 35px;
      } /* md */
    } /* i */
    span {
      font-size: 16px;
      @include media-breakpoint-down(md) {
        font-size: 13px;
      } /* md */
    } /* span */
  } /* catItem */
} /* accountIndexPage */

#accountStepsPage {
  .stepsArea {
    .item {
      width: 33.333%;
      span {
        width: 40px;
        height: 40px;
        font-size: 20px;
        color: #aaa;
        @include media-breakpoint-down(md) {
          width: 30px;
          height: 30px;
          font-size: 18px;
        } /* md */
        &::after {
          content: "";
          height: 4px;
          width: 13vw;
          position: absolute;
          background-color: #dee2e6;
          right: 0;
          z-index: -1;
          [dir="ltr"] & {
            right: auto;
            left: 0;
          } /* ltr */
          @include media-breakpoint-down(md) {
            width: 21vw;
          } /* md */
        } /* after */
        &::before {
          content: "";
          height: 4px;
          width: 12vw;
          position: absolute;
          background-color: #dee2e6;
          left: 0;
          z-index: -1;
          [dir="ltr"] & {
            left: auto;
            right: 0;
          } /* ltr */
          @include media-breakpoint-down(md) {
            width: 21vw;
          } /* md */
        } /* before */
      } /* span */
      p {
        color: #aaa;
        @include media-breakpoint-down(md) {
          font-size: 13px;
        } /* md */
      } /* p */
      &:first-child {
        span {
          &::before {
            display: none;
          } /* before */
        } /* span */
      } /* first-child  */
      &:last-child {
        span {
          &::after {
            display: none;
          } /* after */
        } /* span */
      } /* last-child  */
      &.active {
        span {
          background-color: #fff !important;
          border-color: var(--mainColor) !important;
          color: #000000;
          &::before {
            background-color: var(--mainColor);
          } /* before */
        } /* span */
        p {
          color: #000000;
        } /* p */
      } /* active */
      &.done {
        span {
          background-color: var(--mainColor) !important;
          border-color: var(--mainColor) !important;
          color: #ffffff;
          &::after, &::before {
            background-color: var(--mainColor);
          } /* after */
        } /* span */
        p {
          color: var(--mainColor);
        } /* p */
      } /* done */
    } /* item */
  } /* stepsArea */
  .form-group {
    input {
      height: 40px;
      padding: 0 10px;
      outline: none;
      font-size: 15px;
      &:focus {
        background-color: var(--hoverBg) !important;
        border-color: var(--mainColor) !important;
      } /* focus */
      &.is-valid {
        background-position: 10px  center;
        border-color: #198754 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-valid */
      &.is-invalid {
        background-position: 10px  center;
        border-color: #dc3545 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-invalid */
      &.expiryDate {
        cursor: pointer;
        background-color: #fff !important;
      } /* expiryDate */
    } /* input */
    select {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
      height: 40px;
      font-size: 15px;
      padding: 0 10px;
      background-position: 10px center;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      [dir="ltr"] & {
        background-position: right 10px  center;
      } /* ltr */
      &.is-valid {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
        background-position: 10px center;
        border-color: #198754 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-valid */
      &.is-invalid {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
        background-position: 10px center;
        border-color: #dc3545 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-invalid */
    } /* select */
  } /* form-group */
  .phoneInput {
    direction: ltr;
    span {
      left: 1px;
      top: 1px;
      height: 38px;
      min-width: 50px;
    } /* span */
    #customer_mobile-error {
      display: block !important;
      direction: rtl;
      width: 100%;
      height: auto !important;
      min-width: auto !important;
      [dir="ltr"] & {
        direction: ltr;
      } /* ltr */
    } /* customer_mobile-error */
    input {
      padding: 0 10px 0 50px;
      &.is-valid {
        background-position: right 10px  center;
        border-color: #198754 !important;
      } /* is-valid */
      &.is-invalid {
        background-position: right 10px  center;
        border-color: #dc3545 !important;
      } /* is-invalid */
    } /* input */
  } /* phoneInput */
  .upoadInput {
    height: 40px;
    input {
      opacity: 0;
      z-index: 999;
      cursor: pointer;
    } /* input */
    .fileName {
      direction: ltr;
    } /* fileName */
    .fileBtn {
      height: 38px;
      min-width: 85px;
      font-size: 13px;
      background-color: #dee2e6;
    } /* fileBtn */
  } /* upoadInput */
  .btnsArea {
    button, a {
      height: 40px;
      min-width: 100px;
      font-size: 14px;
    } /* button */
  } /* btnsArea */
  .blockStep2 {
    label {
      button {
        width: 15px;
        height: 15px;
        margin: 0 5px 0 0;
        font-size: 9px;
        [dir="ltr"] & {
          margin: 0 0 0 5px;
        } /* ltr */
      } /* button */
    } /* label */
    .logoImage {
      width: 150px;
      height: 150px;
      .delete_logo {
        width: 20px;
        height: 20px;
        font-size: 12px;
        left: .25rem;
        top: .25rem;
        cursor: pointer;
      } /* delete_logo */
    } /* logoImage */
  } /* blockStep2 */
  .license_type_modal {
    .modal-body {
      a {
        color: var(--mainColor);
        &:hover {
          color: var(--mainColorHover);
        } /* hover */
      } /* a */
    } /* modal-body */
  } /* license_type_modal */
} /* accountStepsPage */

#accountInformationPage {
  .title {
    h1 {
      color: #3a3a3a;
    } /* h1 */
  } /* title */
  .form-group {
    input {
      height: 40px;
      padding: 0 10px;
      outline: none;
      font-size: 15px;
      &:focus {
        background-color: var(--hoverBg) !important;
        border-color: var(--mainColor) !important;
      } /* focus */
      &.is-valid {
        background-position: 10px  center;
        border-color: #198754 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-valid */
      &.is-invalid {
        background-position: 10px  center;
        border-color: #dc3545 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-invalid */
    } /* input */
    select {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
      height: 40px;
      font-size: 15px;
      padding: 0 10px;
      background-position: 10px center;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      [dir="ltr"] & {
        background-position: right 10px  center;
      } /* ltr */
      &.is-valid {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
        background-position: 10px center;
        border-color: #198754 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-valid */
      &.is-invalid {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
        background-position: 10px center;
        border-color: #dc3545 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-invalid */
    } /* select */
  } /* form-group */
  .phoneInput {
    direction: ltr;
    cursor: not-allowed;
    span {
      left: 1px;
      top: 1px;
      height: 38px;
      min-width: 50px;
    } /* span */
    #customer_mobile-error {
      display: block !important;
      direction: rtl;
      width: 100%;
      height: auto !important;
      min-width: auto !important;
      [dir="ltr"] & {
        direction: ltr;
      } /* ltr */
    } /* customer_mobile-error */
    input {
      padding: 0 10px 0 50px;
      &.is-valid {
        background-position: right 10px  center;
        border-color: #198754 !important;
      } /* is-valid */
      &.is-invalid {
        background-position: right 10px  center;
        border-color: #dc3545 !important;
      } /* is-invalid */
    } /* input */
  } /* phoneInput */
  .saveBtn {
    button {
      height: 40px;
      min-width: 120px;
      font-size: 14px;
      transition: all 0.2s ease-in-out;
      &[disabled="disabled"] {
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;
      } /* disabled="disabled" */
    } /* button */
  } /* saveBtn */
} /* accountInformationPage */

#businessInformationPage {
  .title {
    h1 {
      color: #3a3a3a;
    } /* h1 */
  } /* title */
  label {
    button {
      width: 15px;
      height: 15px;
      margin: 0 5px 0 0;
      font-size: 9px;
      [dir="ltr"] & {
        margin: 0 0 0 5px;
      } /* ltr */
    } /* button */
  } /* label */
  .logoImage {
    width: 150px;
    height: 150px;
    .delete_logo {
      width: 20px;
      height: 20px;
      font-size: 12px;
      left: .25rem;
      top: .25rem;
      cursor: pointer;
    } /* delete_logo */
  } /* logoImage */
  .form-group {
    input {
      height: 40px;
      padding: 0 10px;
      outline: none;
      font-size: 15px;
      &:focus {
        background-color: var(--hoverBg) !important;
        border-color: var(--mainColor) !important;
      } /* focus */
      &.is-valid {
        background-position: 10px  center;
        border-color: #198754 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-valid */
      &.is-invalid {
        background-position: 10px  center;
        border-color: #dc3545 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-invalid */
      &.expiryDate {
        cursor: pointer;
        background-color: #fff !important;
      } /* expiryDate */
    } /* input */
    select {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
      height: 40px;
      font-size: 15px;
      padding: 0 10px;
      background-position: 10px center;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      [dir="ltr"] & {
        background-position: right 10px  center;
      } /* ltr */
      &.is-valid {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
        background-position: 10px center;
        border-color: #198754 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-valid */
      &.is-invalid {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
        background-position: 10px center;
        border-color: #dc3545 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-invalid */
    } /* select */
  } /* form-group */
  .phoneInput {
    direction: ltr;
    span {
      left: 1px;
      top: 1px;
      height: 38px;
      min-width: 50px;
    } /* span */
    #customer_mobile-error {
      display: block !important;
      direction: rtl;
      width: 100%;
      height: auto !important;
      min-width: auto !important;
      [dir="ltr"] & {
        direction: ltr;
      } /* ltr */
    } /* customer_mobile-error */
    input {
      padding: 0 10px 0 50px;
      &.is-valid {
        background-position: right 10px  center;
        border-color: #198754 !important;
      } /* is-valid */
      &.is-invalid {
        background-position: right 10px  center;
        border-color: #dc3545 !important;
      } /* is-invalid */
    } /* input */
  } /* phoneInput */
  .upoadInput {
    height: 40px;
    input {
      opacity: 0;
      z-index: 999;
      cursor: pointer;
    } /* input */
    .fileName {
      direction: ltr;
    } /* fileName */
    .fileBtn {
      height: 38px;
      min-width: 85px;
      font-size: 13px;
      background-color: #dee2e6;
    } /* fileBtn */
  } /* upoadInput */
  .saveBtn {
    button {
      height: 40px;
      min-width: 120px;
      font-size: 14px;
      transition: all 0.2s ease-in-out;
      &[disabled="disabled"] {
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;
      } /* disabled="disabled" */
    } /* button */
  } /* saveBtn */
} /* accountInformationPage */

#bankInformationPage {
  .title {
    h1 {
      color: #3a3a3a;
    } /* h1 */
  } /* title */
  .form-group {
    input {
      height: 40px;
      padding: 0 10px;
      outline: none;
      font-size: 15px;
      &:focus {
        background-color: var(--hoverBg) !important;
        border-color: var(--mainColor) !important;
      } /* focus */
      &.is-valid {
        background-position: 10px  center;
        border-color: #198754 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-valid */
      &.is-invalid {
        background-position: 10px  center;
        border-color: #dc3545 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-invalid */
      &.expiryDate {
        cursor: pointer;
        background-color: #fff !important;
      } /* expiryDate */
    } /* input */
    select {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
      height: 40px;
      font-size: 15px;
      padding: 0 10px;
      background-position: 10px center;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      [dir="ltr"] & {
        background-position: right 10px  center;
      } /* ltr */
      &.is-valid {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
        background-position: 10px center;
        border-color: #198754 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-valid */
      &.is-invalid {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
        background-position: 10px center;
        border-color: #dc3545 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-invalid */
    } /* select */
  } /* form-group */
  .saveBtn {
    button {
      height: 40px;
      min-width: 120px;
      font-size: 14px;
      transition: all 0.2s ease-in-out;
      &[disabled="disabled"] {
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;
      } /* disabled="disabled" */
    } /* button */
  } /* saveBtn */
} /* bankInformationPage */

#changePasswordPage {
  .title {
    h1 {
      color: #3a3a3a;
    } /* h1 */
  } /* title */
  .form-group {
    input {
      height: 40px;
      padding: 0 10px;
      outline: none;
      font-size: 15px;
      &:focus {
        background-color: var(--hoverBg) !important;
        border-color: var(--mainColor) !important;
      } /* focus */
      &.is-valid {
        background-position: 10px  center;
        border-color: #198754 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-valid */
      &.is-invalid {
        background-position: 10px  center;
        border-color: #dc3545 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-invalid */
      &.expiryDate {
        cursor: pointer;
        background-color: #fff !important;
      } /* expiryDate */
    } /* input */
    select {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
      height: 40px;
      font-size: 15px;
      padding: 0 10px;
      background-position: 10px center;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      [dir="ltr"] & {
        background-position: right 10px  center;
      } /* ltr */
      &.is-valid {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
        background-position: 10px center;
        border-color: #198754 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-valid */
      &.is-invalid {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
        background-position: 10px center;
        border-color: #dc3545 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-invalid */
    } /* select */
  } /* form-group */
  .saveBtn {
    button {
      height: 40px;
      min-width: 120px;
      font-size: 14px;
      transition: all 0.2s ease-in-out;
      &[disabled="disabled"] {
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;
      } /* disabled="disabled" */
    } /* button */
  } /* saveBtn */
} /* changePasswordPage */

#invoiceSettingsPage {
  .title {
    h1 {
      color: #3a3a3a;
    } /* h1 */
  } /* title */
  hr {
    border-color: #dee2e6 !important;
    margin: 1rem auto;
  } /* h1 */
  .form-group {
    input {
      height: 40px;
      padding: 0 10px;
      outline: none;
      font-size: 15px;
      &:focus {
        background-color: var(--hoverBg) !important;
        border-color: var(--mainColor) !important;
      } /* focus */
      &.is-valid {
        background-position: 10px  center;
        border-color: #198754 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-valid */
      &.is-invalid {
        background-position: 10px  center;
        border-color: #dc3545 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-invalid */
    } /* input */
    select {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
      height: 40px;
      font-size: 15px;
      padding: 0 10px;
      background-position: 10px center;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      [dir="ltr"] & {
        background-position: right 10px  center;
      } /* ltr */
      &.is-valid {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
        background-position: 10px center;
        border-color: #198754 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-valid */
      &.is-invalid {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
        background-position: 10px center;
        border-color: #dc3545 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-invalid */
    } /* select */
  } /* form-group */
  .inputGroup {
    .txt {
      left: 1px;
      top: 1px;
      height: 38px;
      min-width: 50px;
      display: flex;
      [dir="ltr"] & {
        left: auto;
        right: 1px;
      } /* ltr */
    } /* txt */
    input {
      padding: 0 10px 0 50px;
      [dir="ltr"] & {
        padding: 0 50px 0 10px;
      } /* ltr */
      &.is-valid {
        background-image: none;
        border-color: #198754 !important;
      } /* is-valid */
      &.is-invalid {
        background-image: none;
        border-color: #dc3545 !important;
      } /* is-invalid */
    } /* input */
    .invalid-feedback {
      width: auto;
    } /* invalid-feedback */
  } /* inputGroup */
  .checkboxItem {
    input {
      opacity: 0;
      z-index: 99;
      cursor: pointer;
      &:checked ~ {
        span {
          i {
            background-color: var(--mainColor);
            box-shadow: 0 2px 4px 0 rgba(var(--mainColorRGB),.4);
            &::after {
              transform: translateX(-28px);
              [dir="ltr"] & {
                transform: translateX(28px);
              } /* ltr */
            } /* after */
          } /* i */
        } /* span */
      } /* checked */
    } /* input */
    span {
      color: #3a3a3a;
      i {
        height: 25px;
        width: 53px;
        background-color: #d7d7d7;
        margin: 0 0 0 10px;
        transition: all 0.3s ease-in-out;
        [dir="ltr"] & {
          margin: 0 10px 0 0;
        } /* ltr */
        &::after {
          content: "";
          width: 17px;
          height: 17px;
          background-color: #fff;
          position: absolute;
          top: 4px;
          right: 4px;
          border-radius: 100%;
          transition: all 0.3s ease-in-out;
          [dir="ltr"] & {
            right: auto;
            left: 4px;
          } /* ltr */
        } /* after */
      } /* i */
    } /* span */
  } /* checkboxItem */
  .name {
    small {
      font-size: 13px;
    } /* small */
  } /* name */
  .saveBtn {
    button {
      height: 40px;
      min-width: 120px;
      font-size: 14px;
      transition: all 0.2s ease-in-out;
      &[disabled="disabled"] {
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;
      } /* disabled="disabled" */
    } /* button */
  } /* saveBtn */
} /* invoiceSettingsPage */

#usersIndexPage {
  .title {
    h1 {
      color: #3a3a3a;
    } /* h1 */
    .addUserBtn {
      min-width: 130px;
      height: 40px;
    } /* addUserBtn */
  } /* title */
  .tabsArea {
    a {
      min-width: 130px;
      height: 40px;
    } /* a */
  } /* tabsArea */
  .blockArea {
    table {
      th {
        font-size: 14px;
        padding: 10px;
        vertical-align: middle;
        color: #3a3a3a;
        border-color: #dee2e6;
      } /* th */
      td {
        color: #3a3a3a;
        font-size: 15px;
        vertical-align: middle;
        a, button {
          width: 35px;
          height: 35px;
        } /* a */
      } /* td */
    } /* table */
  } /* blockArea */
  .no_customers_yet {
    min-height: 400px;
    color: #999;
    @include media-breakpoint-down(md) {
      min-height: 200px;
    } /* md */
    i {
      font-size: 100px;
      @include media-breakpoint-down(md) {
        font-size: 70px;
      } /* md */
    } /* i */
    span {
      font-size: 18px;
      @include media-breakpoint-down(md) {
        font-size: 15px;
      } /* md */
    } /* span */
  } /* no_customers_yet */
} /* usersIndexPage */

#usersEditPage {
  .title {
    h1 {
      color: #3a3a3a;
    } /* h1 */
  } /* title */
  .blockArea {
    .form-group {
      input {
        height: 40px;
        padding: 0 10px;
        outline: none;
        &:focus {
          background-color: var(--hoverBg) !important;
          border-color: var(--mainColor) !important;
        } /* focus */
        &.is-valid {
          background-position: 10px  center;
          border-color: #198754 !important;
          [dir="ltr"] & {
            background-position: right 10px  center;
          } /* ltr */
        } /* is-valid */
        &.is-invalid {
          background-position: 10px  center;
          border-color: #dc3545 !important;
          [dir="ltr"] & {
            background-position: right 10px  center;
          } /* ltr */
        } /* is-invalid */
      } /* input */
      select {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
        height: 40px;
        padding: 0 10px;
        background-position: 10px center;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
        &.is-valid {
          background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
          background-position: 10px center;
          border-color: #198754 !important;
          [dir="ltr"] & {
            background-position: right 10px  center;
          } /* ltr */
        } /* is-valid */
        &.is-invalid {
          background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
          background-position: 10px center;
          border-color: #dc3545 !important;
          [dir="ltr"] & {
            background-position: right 10px  center;
          } /* ltr */
        } /* is-invalid */
      } /* select */
    } /* form-group */
    .phoneInput {
      direction: ltr;
      span {
        left: 1px;
        top: 1px;
        height: 38px;
        min-width: 50px;
      } /* span */
      #Mobile-error {
        display: block !important;
        direction: rtl;
        width: 100%;
        height: auto !important;
        min-width: auto !important;
        [dir="ltr"] & {
          direction: ltr;
        } /* ltr */
      } /* Mobile-error */
      input {
        padding: 0 10px 0 50px;
        &.is-valid {
          background-position: right 10px  center;
          border-color: #198754 !important;
        } /* is-valid */
        &.is-invalid {
          background-position: right 10px  center;
          border-color: #dc3545 !important;
        } /* is-invalid */
      } /* input */
    } /* phoneInput */
    .buttonsArea {
      button, a {
        height: 40px;
        min-width: 120px;
        font-size: 14px;
        transition: all 0.2s ease-in-out;
        margin: 0 0 0 15px;
        [dir="ltr"] & {
          margin: 0 15px 0 0;
        } /* ltr */
        &[disabled="disabled"] {
          opacity: 0.6;
          cursor: not-allowed;
          pointer-events: none;
        } /* disabled="disabled" */
        &:last-child {
          margin: 0;
        } /* last-child */
      } /* button */
    } /* buttonsArea */
  } /* blockArea */
} /* usersEditPage */

.addRoleModal {
  .modal-body {
    .form-group {
      input {
        height: 40px;
        padding: 0 10px;
        outline: none;
        &:focus {
          background-color: var(--hoverBg) !important;
          border-color: var(--mainColor) !important;
        } /* focus */
        &.is-valid {
          background-position: 10px  center;
          border-color: #198754 !important;
          [dir="ltr"] & {
            background-position: right 10px  center;
          } /* ltr */
        } /* is-valid */
        &.is-invalid {
          background-position: 10px  center;
          border-color: #dc3545 !important;
          [dir="ltr"] & {
            background-position: right 10px  center;
          } /* ltr */
        } /* is-invalid */
      } /* input */
    } /* form-group */
    .checkboxItem {
      input {
        opacity: 0;
        z-index: 99;
        cursor: pointer;
        &:checked ~ {
          span {
            i {
              background-color: var(--mainColor);
              box-shadow: 0 2px 4px 0 rgba(var(--mainColorRGB),.4);
              &::after {
                transform: translateX(-28px);
                [dir="ltr"] & {
                  transform: translateX(28px);
                } /* ltr */
              } /* after */
            } /* i */
          } /* span */
        } /* checked */
      } /* input */
      span {
        color: #3a3a3a;
        i {
          height: 25px;
          width: 53px;
          background-color: #d7d7d7;
          margin: 0 0 0 10px;
          transition: all 0.3s ease-in-out;
          [dir="ltr"] & {
            margin: 0 10px 0 0;
          } /* ltr */
          &::after {
            content: "";
            width: 17px;
            height: 17px;
            background-color: #fff;
            position: absolute;
            top: 4px;
            right: 4px;
            border-radius: 100%;
            transition: all 0.3s ease-in-out;
            [dir="ltr"] & {
              right: auto;
              left: 4px;
            } /* ltr */
          } /* after */
        } /* i */
      } /* span */
    } /* checkboxItem */
    span#permissions\[\]-error {
      margin: -.75rem 0 1rem 0;
      display: block !important;
  }
  } /* modal-body */
  .modal-footer {
    button {
      height: 40px;
      min-width: 100px;
      margin: 0 0.5rem 0 0;
      [dir="ltr"] & {
        margin: 0 0 0 0.5rem;
      } /* ltr */
      &:first-child {
        margin: 0;
      } /* first-child */
    } /* button */
  } /* modal-footer */
} /* addRoleModal */