#cartPos {
  @include media-breakpoint-down(sm) {
    position: fixed;
    z-index: 999999999;
    display: none;
  } /* sm */
  .cartEmpty {
    color: #999999;
    min-height: calc(100vh - 151px);
    i {
      font-size: 50px;
    } /* i */
  } /* cartEmpty */
  .cartHasItems {
    min-height: calc(100vh - 151px);
    .topArea {
      .ressetBtn {
        width: 35px;
        height: 35px;
      } /* ressetBtn */
    } /* topArea */
    .centerArea {
      overflow-y: auto;
      flex: 1 1 0;
      .item {
        border-color: #F5F5F5 !important;
        .removeItem {
          background-color: #CED4DA;
          font-size: 13px;
          width: 20px;
          height: 20px;
        } /* removeItem */
        .itemName {
          font-size: 14px;
          line-height: 1.3;
        } /* itemName */
        .priceAndQty {
          flex: none;
          .price {
            font-size: 14px;
          } /* price */
          .qtyItem {
            input {
              width: 30px;
              height: 20px;
              font-size: 17px;
              &::-webkit-inner-spin-button {
                opacity: 0;
                -webkit-appearance: none;
              } 
            } /* input */
            button {
              background-color: #CED4DA;
              font-size: 13px;
              width: 20px;
              height: 20px;
            } /* button */
          } /* qtyItem */
        } /* priceAndQty */
        &:nth-child(2n) {
          background-color: #F5F5F5;
        } /* nth-child(2n) */
      } /* item */
    } /* centerArea */
    .bottomArea {
      .totalCart {
        font-size: 14px;
      } /* totalCart */
      .checkoutBtn {
        button {
          height: 45px;
          padding: 0 10px;
          p {
            small {
              font-size: 12px;
            } /* small */
          } /* p */
          span {
            font-size: 20px;
            line-height: 1;
            small {
              font-size: 14px;
            } /* small */
          } /* span */
        } /* button */
      } /* checkoutBtn */
    } /* bottomArea */
  } /* cartHasItems */
} /* cartPos */

.openCartPhone {
  z-index: 99;
  button {
    height: 55px;
    padding: 0 10px;
    border-radius: 0 !important;
    p {
      small {
        font-size: 12px;
      } /* small */
    } /* p */
    span {
      font-size: 20px;
      line-height: 1;
      small {
        font-size: 14px;
      } /* small */
    } /* span */
  } /* button */
} /* openCartPhone */

.posCategoriesSearch {
  input {
    height: 40px;
    padding: 0 10px;
    outline: none;
    font-size: 15px;
    &:focus {
      background-color: var(--hoverBg) !important;
      border-color: var(--mainColor) !important;
    } /* focus */
  } /* input */
} /* posCategoriesSearch */

.posLinksBar {
  .row {
    @include media-breakpoint-down(md) {
      margin-right: calc(var(--bs-gutter-x) * -.25);
      margin-left: calc(var(--bs-gutter-x) * -.25);
    } /* md */
    .col {
      @include media-breakpoint-down(md) {
        padding-right: calc(var(--bs-gutter-x) * .25);
        padding-left: calc(var(--bs-gutter-x) * .25);
      } /* md */
    } /* col */
  } /* row */
  a {
    min-height: 100px;
    @include media-breakpoint-down(sm) {
      min-height: 70px;
    } /* sm */
    i {
      font-size: 30px;
      width: 35px;
      height: 35px;
      @include media-breakpoint-down(sm) {
        width: 25px;
        height: 25px;
        font-size: 20px;
      } /* sm */
    } /* i */
    span {
      @include media-breakpoint-down(sm) {
        font-size: 10px;
      } /* sm */
    } /* span */
  } /* a */
} /* posLinksBar */

.posCategoriesPage {
  a {
    border-bottom: 5px solid var(--mainColor);
    color: #000;
    min-height: 200px;
    figure {
      height: 120px;
      @media (max-width: 767.98px) {
        height: 90px;
      }
      img {
        object-fit: cover;
      } /* img */
    } /* figure */
    span {
      line-height: 1.3;
    } /* span */
    &:hover {
      color: var(--mainColor);
      transform: scale(1.03);
    } /* hover */
  } /* a */
} /* posCategoriesPage */

.posBackBtn {
  a {
    width: 80px;
    height: 40px;
    font-size: 20px;
    color: var(--mainColor);
  } /* a */
} /* posBackBtn */

.posUserDetails {
  .inputClient {
    height: 40px;
    input {
      padding: 0 10px;
    } /* input */
    button {
      width: 40px;
    } /* button */
  } /* inputClient */
  .phoneInput {
    direction: ltr;
    height: 40px;
    span {
      left: 1px;
      top: 1px;
      height: 38px;
      min-width: 50px;
    } /* span */
    input {
      padding: 0 10px 0 50px;
      [dir="rtl"] & {
        &::-webkit-input-placeholder {text-align: right;}
        &:-ms-input-placeholder {text-align: right;}
        &::placeholder {text-align: right;}
      } /* rtl */
    } /* input */
  } /* phoneInput */
  input {
    height: 40px;
    padding: 0 10px;
    font-size: 15px;
  } /* input */
  .showPosInfoBtn {
    font-size: 16px;
    &::before {
      content: "\f055";
      font-family: "Font Awesome 5 Pro";
      top: 1px;
      margin: 0 0 0 7px;
      position: relative;
      [dir="ltr"] & {
        margin: 0 7px 0 0;
        top: 0;
      } /* ltr */
    } /* before */
    &.show {
      &::before {
        content: "\f056";
      } /* before */
    } /* show */
  } /* showPosInfoBtn */
  .saveBtn {
    height: 40px;
  } /* saveBtn */
} /* posUserDetails */

.posDiscountPage {
  .selectArea {
    label {
      input {
        opacity: 0;
        z-index: 9;
        cursor: pointer;
        &:checked ~ {
          span {
            border-color: var(--mainColor) !important;
            color: var(--mainColor);
          } /* span */
        } /* checked */
      } /* input */
      span {
        min-width: 160px;
        height: 50px;
        @media (max-width: 767.98px) {
          min-width: 145px;
        }
      } /* span */
    } /* label */
  } /* selectArea */
  .inputGroup {
    height: 40px;
    .txt {
      left: 1px;
      top: 1px;
      height: 38px;
      min-width: 50px;
      display: flex;
      [dir="ltr"] & {
        left: auto;
        right: 1px;
      } /* ltr */
    } /* txt */
    input {
      padding: 0 10px 0 50px;
      [dir="ltr"] & {
        padding: 0 50px 0 10px;
      } /* ltr */
    } /* input */
  } /* inputGroup */
  .saveBtn {
    height: 40px;
  } /* saveBtn */
} /* posDiscountPage */

.posProductsPage {
  a {
    border-bottom: 5px solid var(--mainColor);
    color: #000;
    min-height: 200px;
    figure {
      height: 120px;
      @media (max-width: 767.98px) {
        height: 90px;
      }
      img {
        object-fit: cover;
      } /* img */
    } /* figure */
    figcaption {
      p {
        font-size: 16px;
        line-height: 1.3;
      } /* p */
    } /* figcaption */
    &.backCategory {
      font-size: 35px;
      color: var(--mainColor);
    } /* backCategory */
    &:hover {
      color: var(--mainColor);
      transform: scale(1.03);
    } /* hover */
  } /* a */
} /* posProductsPage */

.posProductPage {
  figure {
    height: 230px;
    min-width: 310px;
    img {
      object-fit: cover;
    } /* img */
  } /* figure */
  figcaption {
    span {
      font-size: 20px;
    } /* span */
    p {
      font-size: 22px;
      line-height: 1;
      small {
        margin: 0 0 0 5px;
        font-size: 14px;
        line-height: 1;
        [dir="ltr"] & {
          margin: 0 5px 0 0;
        } /* ltr */
      } /* small */
    } /* p */
  } /* figcaption */
  .qtyItem {
    input {
      width: 60px;
      height: 30px;
      font-size: 25px;
      &::-webkit-inner-spin-button {
        opacity: 0;
        -webkit-appearance: none;
      } 
    } /* input */
    button {
      background-color: #CED4DA;
      width: 30px;
      height: 30px;
      font-size: 19px;
    } /* button */
  } /* qtyItem */
  .addItem {
    height: 40px;
    min-width: 250px;
  } /* addItem */
} /* posProductPage */

.posPayPage {
  .selectArea {
    label {
      input {
        opacity: 0;
        z-index: 9;
        cursor: pointer;
        &:checked ~ {
          span {
            border-color: var(--mainColor);
            background-color: var(--mainColor) !important;
            color: #ffffff;
            box-shadow: 0 2px 4px 0 rgba(var(--mainColorRGB),.4) !important;
            svg {
              path {
                fill: #ffffff;
              } /* path */
            } /* svg */
          } /* span */
        } /* checked */
      } /* input */
      span {
        border: 2px solid #e4e4e4;
        height: 50px;
        min-height: 100px;
        @media (max-width: 767.98px) {
          min-width: 145px;
        }
        svg {
          width: 30px;
          height: 30px;
          margin-bottom: 10px;
          path {
            fill: #777777;
          } /* path */
        } /* svg */
      } /* span */
    } /* label */
  } /* selectArea */
  .saveBtn {
    height: 40px;
    min-width: 250px;
  } /* saveBtn */
} /* posPayPage */