#productsIndexPage {
  .tabsArea {
    a, span {
      min-width: 130px;
      height: 40px;
      margin: 0 0 0 15px;
      [dir="ltr"] & {
        margin: 0 15px 0 0;
      } /* ltr */
    } /* a */
  } /* tabsArea */
  .title {
    h1 {
      color: #3a3a3a;
    } /* h1 */
    .addProductBtn {
      min-width: 130px;
      height: 40px;
    } /* addUserBtn */
  } /* title */
  .blockArea {
    table {
      th {
        border: 1px solid #dee2e6;
        color: #3a3a3a;
        vertical-align: middle;
        padding: 10px;
        font-size: 14px;
      } /* th */
      td {
        border: 1px solid #dee2e6;
        color: #3a3a3a;
        vertical-align: middle;
        padding: 10px;
        figure {
          width: 80px;
          height: 80px;
          img {
            object-fit: cover;
          } /* img */
        } /* figure */
        a, button {
          width: 35px;
          height: 35px;
        } /* a */
      } /* td */
    } /* table */
  } /* blockArea */
  .noProductsYet {
    .icon {
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23AAAAAA;%7D%0A%3C/style%3E%3Cpath class='st0' d='M480.2,120.1c0-0.8-0.2-1.7-0.5-2.5c-0.1-0.3-0.3-0.5-0.5-0.7c-0.2-0.2-0.3-0.5-0.5-0.7c-0.8-0.9-1.7-1.6-2.7-2 c0,0,0,0-0.1,0L258.8,40.7c-1.3-0.5-2.8-0.5-4.1,0L37.6,114.2c-0.3,0.1-0.6,0.4-0.9,0.5c-0.2,0.1-0.4,0.1-0.6,0.2 c-0.1,0.1-0.2,0.2-0.3,0.3c-0.6,0.5-1.1,1-1.5,1.7c-0.1,0.2-0.2,0.3-0.3,0.4c-0.4,0.8-0.7,1.8-0.7,2.7c0,0.1,0,0.1,0,0.2L31.8,358 c0,2.5,1.4,4.7,3.6,5.8l224,107.2c0.9,0.4,1.8,0.6,2.7,0.6c0,0,0,0,0,0s0,0,0,0c1,0,1.9-0.2,2.8-0.7l211.7-106.4 c2.1-1.1,3.5-3.3,3.5-5.7L480.2,120.1C480.2,120.1,480.2,120.1,480.2,120.1z M364.2,89.8L177.6,171l-40.3-16.8L323.4,76L364.2,89.8z M171.9,182.4v69.7l-22.3-22c-1.8-1.8-4.6-2.3-7-1.3l-15.4,6.6v-71.6L171.9,182.4z M256.8,53.5l48.5,16.4l-184.4,77.4l-63.2-26.4 L256.8,53.5z M255.9,455.2L44.5,354L46,129.8l68.5,28.6V245c0,2.1,1.1,4.1,2.9,5.3c1.8,1.2,4.1,1.4,6,0.5l20.4-8.7l30.1,29.7 c1.2,1.2,2.8,1.8,4.5,1.8c0.8,0,1.7-0.2,2.5-0.5c2.4-1,3.9-3.3,3.9-5.9v-79.6l72.7,30.4L255.9,455.2z M263.6,206.9l-69.7-29.1 l188.3-81.9l74.2,25.1L263.6,206.9z M467.5,355l-198.9,99.9l1.4-237l197.5-88L467.5,355L467.5,355z'/%3E%3Cpath class='st0' d='M308.4,376.8c-3.2,1.5-4.5,5.3-3,8.5c1.1,2.3,3.4,3.6,5.7,3.6c0.9,0,1.9-0.2,2.7-0.6l133.9-64 c3.2-1.5,4.5-5.3,3-8.5c-1.5-3.2-5.3-4.5-8.5-3L308.4,376.8z M301.1,348.6c0.9,0,1.8-0.2,2.6-0.6l135.4-60.8 c3.2-1.4,4.6-5.2,3.2-8.4c-1.5-3.2-5.2-4.6-8.4-3.2l-135.4,60.8c-3.2,1.4-4.6,5.2-3.2,8.4C296.3,347.2,298.7,348.6,301.1,348.6z'/%3E%3C/svg%3E");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 200px;
      height: 200px;
    } /* icon */
    span {
      color: #aaaaaa;
      font-weight: 500;
      font-size: 18px;
    } /* span */
  } /* noProductsYet */
  .noCategoriesYet {
    .icon {
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23AAAAAA;%7D%0A%3C/style%3E%3Cpath class='st0' d='M474.1,38.2h-359c-3.4,0-6.1,2.7-6.1,6.1V92H61.3c-3.4,0-6.1,2.7-6.1,6.1v47.8H37.9c-3.4,0-6.1,2.7-6.1,6.1 v315.8c0,3.4,2.7,6.1,6.1,6.1h328.6c3.4,0,6.1-2.7,6.1-6.1v-17.3h47.8c3.4,0,6.1-2.7,6.1-6.1v-47.8h47.8c3.4,0,6.1-2.7,6.1-6.1V44.3 C480.2,40.9,477.5,38.2,474.1,38.2z M360.4,461.7H44V158h102.4v133.2c0,2.2,1.2,4.2,3.1,5.3c1.9,1.1,4.3,1,6.2-0.2l46.5-29l46.5,29 c1,0.6,2.1,0.9,3.2,0.9c1,0,2-0.3,2.9-0.8c1.9-1.1,3.1-3.1,3.1-5.3V158h102.4L360.4,461.7L360.4,461.7z M158.5,280.3V158h87.3v122.3 l-40.4-25.2c-1-0.6-2.1-0.9-3.2-0.9s-2.2,0.3-3.2,0.9L158.5,280.3z M414.2,438.2h-41.7V152c0-3.4-2.7-6.1-6.1-6.1H251.9h-99.5h-85 v-41.7h346.8V438.2z M468,384.4h-41.7V98.1c0-3.4-2.7-6.1-6.1-6.1H121.2V50.3H468V384.4z'/%3E%3Cpath class='st0' d='M91.3,361.3c0,3.4,2.7,6.1,6.1,6.1h209.5c3.4,0,6.1-2.7,6.1-6.1s-2.7-6.1-6.1-6.1H97.4 C94.1,355.2,91.3,357.9,91.3,361.3z M306.9,399.4H97.4c-3.4,0-6.1,2.7-6.1,6.1s2.7,6.1,6.1,6.1h209.5c3.4,0,6.1-2.7,6.1-6.1 S310.2,399.4,306.9,399.4z M272.5,433.9h-9.6c-3.4,0-6.1,2.7-6.1,6.1s2.7,6.1,6.1,6.1h9.6c3.4,0,6.1-2.7,6.1-6.1 S275.9,433.9,272.5,433.9z M301.5,433.9H292c-3.4,0-6.1,2.7-6.1,6.1s2.7,6.1,6.1,6.1h9.5c3.4,0,6.1-2.7,6.1-6.1 S304.9,433.9,301.5,433.9z M321,446.1h9.5c3.4,0,6.1-2.7,6.1-6.1s-2.7-6.1-6.1-6.1H321c-3.4,0-6.1,2.7-6.1,6.1 S317.6,446.1,321,446.1z'/%3E%3C/svg%3E");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 200px;
      height: 200px;
    } /* icon */
    span {
      color: #aaaaaa;
      font-weight: 500;
      font-size: 18px;
    } /* span */
  } /* noCategoriesYet */
} /* productsIndexPage */

#productcreatePage {
  .title {
    h1 {
      color: #3a3a3a;
    } /* h1 */
  } /* title */
  .form-group {
    input {
      height: 40px;
      padding: 0 10px;
      outline: none;
      font-size: 15px;
      &:focus {
        background-color: var(--hoverBg) !important;
        border-color: var(--mainColor) !important;
      } /* focus */
      &.is-valid {
        background-position: 10px  center;
        border-color: #198754 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-valid */
      &.is-invalid {
        background-position: 10px  center;
        border-color: #dc3545 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-invalid */
    } /* input */
    textarea {
      padding: 10px;
      outline: none;
      font-size: 15px;
      &:focus {
        background-color: var(--hoverBg) !important;
        border-color: var(--mainColor) !important;
      } /* focus */
      &.is-valid {
        background-position: 10px  center;
        border-color: #198754 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-valid */
      &.is-invalid {
        background-position: 10px  center;
        border-color: #dc3545 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-invalid */
    } /* textarea */
    select {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
      height: 40px;
      font-size: 15px;
      padding: 0 10px;
      background-position: 10px center;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      [dir="ltr"] & {
        background-position: right 10px  center;
      } /* ltr */
      &.is-valid {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
        background-position: 10px center;
        border-color: #198754 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-valid */
      &.is-invalid {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiNhYWFhYWEiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
        background-position: 10px center;
        border-color: #dc3545 !important;
        [dir="ltr"] & {
          background-position: right 10px  center;
        } /* ltr */
      } /* is-invalid */
    } /* select */
  } /* form-group */
  .checkboxItem {
    input {
      opacity: 0;
      z-index: 99;
      cursor: pointer;
      &:checked ~ {
        span {
          i {
            background-color: var(--mainColor);
            box-shadow: 0 2px 4px 0 rgba(var(--mainColorRGB),.4);
            &::after {
              transform: translateX(-28px);
              [dir="ltr"] & {
                transform: translateX(28px);
              } /* ltr */
            } /* after */
          } /* i */
        } /* span */
      } /* checked */
    } /* input */
    span {
      color: #3a3a3a;
      i {
        height: 25px;
        width: 53px;
        background-color: #d7d7d7;
        margin: 0 0 0 10px;
        transition: all 0.3s ease-in-out;
        [dir="ltr"] & {
          margin: 0 10px 0 0;
        } /* ltr */
        &::after {
          content: "";
          width: 17px;
          height: 17px;
          background-color: #fff;
          position: absolute;
          top: 4px;
          right: 4px;
          border-radius: 100%;
          transition: all 0.3s ease-in-out;
          [dir="ltr"] & {
            right: auto;
            left: 4px;
          } /* ltr */
        } /* after */
      } /* i */
    } /* span */
  } /* checkboxItem */
  .imgthumb {
    width: 150px;
    height: 150px;
  } /* imgthumb */
  .upoadInput {
    height: 40px;
    input {
      opacity: 0;
      z-index: 999;
      cursor: pointer;
    } /* input */
    .fileName {
      direction: ltr;
    } /* fileName */
    .fileBtn {
      height: 38px;
      min-width: 85px;
      font-size: 13px;
      background-color: #dee2e6;
    } /* fileBtn */
    span#formFile-error {
      position: absolute;
      top: 100%;
    }
  } /* upoadInput */
  #products_images {
    figure {
      display: flex;
      margin: 0 0 15px 15px;
      width: 150px;
      height: 150px;
      [dir="ltr"] & {
        margin: 0 15px 15px 0;
      } /* ltr */
      i {
        display: flex;
        width: 20px;
        height: 20px;
        top: 0.25rem;
        left: 0.25rem;
        cursor: pointer;
        font-size: 11px;
        [dir="ltr"] & {
          left: auto;
          right: .25rem;
        } /* ltr */
      } /* i */
    } /* figure */
  } /* products_images */
  .saveBtn {
    button {
      height: 40px;
      min-width: 120px;
      font-size: 14px;
      transition: all 0.2s ease-in-out;
      &[disabled="disabled"] {
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;
      } /* disabled="disabled" */
    } /* button */
  } /* saveBtn */
} /* productcreatePage */