#reportsIndexPage {
  .title {
    h1 {
      color: #3a3a3a;
    } /* h1 */
  } /* title */
  .catItem {
    min-height: 170px;
    color: #3a3a3a;
    @include media-breakpoint-down(md) {
      min-height: 120px;
    } /* md */
    span {
      left: 0.5rem;
      top: 0.5rem;
      min-width: 80px;
      height: 25px;
      [dir="ltr"] & {
        left: auto;
        right: 0.5rem;
      } /* ltr */
    } /* span */
    i {
      font-size: 50px;
      color: var(--mainColor);
      @include media-breakpoint-down(md) {
        font-size: 35px;
      } /* md */
    } /* i */
    p {
      font-size: 16px;
      @include media-breakpoint-down(md) {
        font-size: 13px;
      } /* md */
    } /* p */
  } /* catItem */
} /* reportsIndexPage */

#reportsMerchantsPage {
  .title {
    h1 {
      color: #3a3a3a;
    } /* h1 */
  } /* title */
  .filterArea {
    .dateInput {
      @include media-breakpoint-down(md) {
        width: 100%;
      } /* md */
      input {
        height: 40px;
        outline: none;
        padding: 0 40px 0 10px;
        min-width: 230px;
        cursor: pointer;
        @include media-breakpoint-down(md) {
          width: 100%;
        } /* md */
        [dir="ltr"] & {
          padding: 0 10px 0 40px;
        } /* ltr */
      } /* input */
      &::after {
        content: "\f073";
        font-family: "Font Awesome 5 Pro";
        position: absolute;
        right: 1px;
        top: 1px;
        height: 38px;
        width: 38px;
        font-size: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #777;
        background-color: #fff;
        border-radius: 0.3rem;
        [dir="ltr"] & {
          right: auto;
          left: 1px;
        } /* ltr */
      } /* after */
    } /* dateInput */
    button {
      height: 40px;
      min-width: 100px;
    } /* button */
  } /* filterArea */
  .blockArea {
    table {
      thead {
        th {
          border: 1px solid #dee2e6;
          color: #3a3a3a;
          vertical-align: middle;
          padding: 10px;
          font-size: 14px;
        } /* th */
      } /* thead */
      tbody {
        td {
          border: 1px solid #dee2e6;
          color: #3a3a3a;
          vertical-align: middle;
          padding: 10px;
          a {
            width: 35px;
            height: 35px;
          } /* a */
        } /* td */
      } /* tbody */
    } /* table */
    .no_bills_yet {
      min-height: 400px;
      color: #999;
      @include media-breakpoint-down(md) {
        min-height: 200px;
      } /* md */
      i {
        font-size: 100px;
        @include media-breakpoint-down(md) {
          font-size: 70px;
        } /* md */
      } /* i */
      span {
        font-size: 18px;
        @include media-breakpoint-down(md) {
          font-size: 15px;
        } /* md */
      } /* span */
    } /* no_bills_yet */
  } /* blockArea */
} /* reportsMerchantsPage */