// Bootstrap Files
@import 'plugins/bootstrap/bootstrap.scss';

// Variables
@import 'helpers/variables';

// Fontawesome Icon Files
@import "plugins/fontawesome/fontawesome.scss";
@import "plugins/fontawesome/regular.scss";
@import "plugins/fontawesome/solid.scss";
@import "plugins/fontawesome/brands.scss";
@import "plugins/fontawesome/duotone.scss";
@import "plugins/fontawesome/light.scss";

// Layout
@import "layout/aside";
@import "layout/header";
@import "layout/footer";

// Pages
@import "pages/homepage";
@import "pages/bills";

body {
  background-color: #f8f8f8;
  direction: rtl;
  font-size: 15px;
  font-family: "Almarai","Roboto";
  [dir="ltr"] & {
    direction: ltr;
    font-family: "Roboto","Almarai";
  } /* ltr */
} /* body */

a {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  outline: none;
} /* a */

button {
  transition: all 0.2s ease-in-out;
} /* button */

main {
  padding: 15px 150px 15px 15px;
  transition: all 0.4s ease-in-out;
  min-height: calc(100vh - 105px);
  @include media-breakpoint-down(md) {
    padding: 15px;
  } /* md */
  body.sidebar_hide & {
    padding: 15px;
  } /* sidebar_hide */
} /* main */

.breadcrump {
  padding: 10px;
  margin: -15px -15px 0;
  background-color: #f3f3f3;
  a {
    color: var(--mainColor);
    &:hover {
      color: var(--mainColorHover);
    } /* hover */
  } /* a */
  i {
    font-style: normal;
    margin: 0 5px;
  } /* i */
  span {
    color: #777;
  } /* span */
} /* breadcrump */

.tooltip {
  font-family: "Almarai","Roboto";
  font-size: 13px;
} /* tooltip */