@charset "utf-8";
@font-face {
  font-family: 'Dubai';
  src:  url('../fonts/webfonts/DubaiW23-Regular.eot');
  src:  url('../fonts/webfonts/DubaiW23-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/webfonts/DubaiW23-Regular.woff') format('woff'),
        url('../fonts/webfonts/DubaiW23-Regular.ttf') format('truetype'),
        url('../fonts/webfonts/DubaiW23-Regular.svg#UbuntuItalic') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Dubai';
  src:  url('../fonts/webfonts/DubaiW23-Medium.eot');
  src:  url('../fonts/webfonts/DubaiW23-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/webfonts/DubaiW23-Medium.woff') format('woff'),
        url('../fonts/webfonts/DubaiW23-Medium.ttf') format('truetype'),
        url('../fonts/webfonts/DubaiW23-Medium.svg#UbuntuItalic') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Dubai';
  src:  url('../fonts/webfonts/DubaiW23-Bold.eot');
  src:  url('../fonts/webfonts/DubaiW23-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/webfonts/DubaiW23-Bold.woff') format('woff'),
        url('../fonts/webfonts/DubaiW23-Bold.ttf') format('truetype'),
        url('../fonts/webfonts/DubaiW23-Bold.svg#UbuntuItalic') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/webfonts/Exo2-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/webfonts/Exo2-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
html {
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
  direction: rtl;
  text-align: right;
  overflow-x: hidden;
  [dir="ltr"] & {
    direction: ltr;
    text-align: left;
  } /* ltr */
} /* html */
h1, h2, h3, h4 {
  font: inherit;
  margin: 0;
}
ul {
  display: list-item;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
input, input:focus, input:active, textarea, textarea:focus, textarea:active, button, button:focus, button:active, i, i:focus, i:active {
  -webkit-outline: none;
  -moz-outline: none;
  -o-outline: none;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a {
  color: $mainColor;
  outline: medium none;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover, a:focus {
  color: $mainColorHover;
  text-decoration: none;
  outline: medium none;
}
body {
  background-color: #ffffff;
  font-family: "Dubai","Exo 2",Arial,Helvetica,sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: $mainColor;
  text-align: right;
  overflow-x: hidden;
  direction: rtl;
  [dir="ltr"] & {
    font-family: "Exo 2","Dubai",Arial,Helvetica,sans-serif;
    direction: ltr;
    text-align: left;
  } /* en */
} /* body */

button.scrollup {
  display: block;
  position: fixed;
  bottom: -55px;
  right: -55px;
  width: 50px;
  border: none;
  background: $mainColor;
  border-radius: 4px;
  line-height: 50px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  color: #fff;
  z-index: 999;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  [dir="ltr"] & {
    left: -55px;
    right: auto;
  } /* en */
  &.active {
    bottom: 20px;
    right: 20px;
    [dir="ltr"] & {
      left: 20px;
      right: auto;
    } /* en */
  } /* active */
  &:hover {background: $mainColorHover;}
} /* scrollup */