footer {
  background: #455A64;
  .footer_menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px 0 40px;
    @include media-breakpoint-down(sm) {
      margin: 20px 0;
    } /* sm */
    span {
      display: block;
      width: 33.333%;
      margin: 5px 0;
      font-size: 16px;
      @include media-breakpoint-down(sm) {
        width: 50%;
      } /* sm */
      a {
        color: #fff;
        &:hover {
          color: $mainColor;
        } /* hover */
      } /* a */
    } /* span */
  } /* footer_menu */
  .logo {
    margin: 20px auto 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include media-breakpoint-down(sm) {
      margin: 0 auto 40px;
      justify-content: center;
    } /* sm */
    img {
      max-height: 35px;
      max-width: 100%;
    } /* img */
  } /* logo */
  .footer_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
      justify-content: center;
      flex-wrap: wrap;
    } /* sm */
    .copyrights {
      font-size: 16px;
      color: #fff;
      margin: 15px 0;
      @include media-breakpoint-down(sm) {
        margin: 15px 0 0;
      } /* sm */
    } /* copyrights */
    .socialmedia {
      margin: 15px 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      a {
        display: block;
        width: 35px;
        height: 35px;
        text-align: center;
        color: #fff;
        font-size: 25px;
        margin: 0 5px 0 0;
        line-height: 35px;
        &:hover {
          color: $mainColor;
        } /* hover */
      } /* a */
    } /* socialmedia */
  } /* footer_bottom */
} /* footer */